/* Globals */

:root {
  --sidebar-width: 300px;
  --page-padding: 15px;
  --content-max-width: 750px;
  --search-max-width: 450px;
  --menu-bar-height: 50px;
  --header-height: 70px;
  --scrollbar-position-y: 0px;
  --sidebar-cut-y: var(--header-height);
  --page-toc: 250px;
  --sticky-header-height: 45px;

  --page-toc-padding-depth: 12px;
}

/* Themes */

.ayu {
  --bg: hsl(210, 25%, 8%);
  --fg: #c5c5c5;
  --divider: #777777;

  --header-bg: #292c2f;
  --header-fg: #fff;

  --sidebar-bg: #14191f;
  --sidebar-fg: #c8c9db;
  --sidebar-non-existant: #5c6773;
  --sidebar-active: #ffb454;
  --sidebar-spacer: #2d334f;
  --sidebar-footer-bg: #2d334f;
  --sidebar-footer-fg: #c8c9db;
  --sidebar-footer-hg: #ffb454;

  --scrollbar: var(--sidebar-fg);
  --scrollbar-small: #58657d;
  --scrollbar-small-hover: #58657d;

  --icons: #737480;
  --icons-hover: #b7b9cc;

  --links: #0096cf;

  --inline-code-color: #ffb454;

  --theme-popup-bg: #14191f;
  --theme-popup-border: #5c6773;
  --theme-hover: #191f26;

  --quote-bg: hsl(226, 15%, 17%);
  --quote-border: hsl(226, 15%, 22%);

  --table-border-color: hsl(210, 25%, 13%);
  --table-header-bg: hsl(210, 25%, 28%);
  --table-alternate-bg: hsl(210, 25%, 11%);

  --searchbar-bg: #424242;
  --searchbar-fg: #fff;
  --searchresults-header-fg: #666;
  --searchresults-border-color: #888;
  --searchresults-hover-bg: #33393e;
  --searchresults-li-bg: #252932;
  --search-mark-bg: #e3b171;

  --page-toc-fg: #9e9e9e;
  --page-toc-selected: #c7c7c7;
}

.coal {
  --bg: hsl(200, 7%, 8%);
  --fg: #98a3ad;
  --divider: #444;

  --header-bg: #131516;
  --header-fg: #98a3ad;

  --sidebar-bg: #292c2f;
  --sidebar-fg: #a1adb8;
  --sidebar-non-existant: #505254;
  --sidebar-active: #3473ad;
  --sidebar-spacer: #393939;
  --sidebar-footer-bg: #3a4046;
  --sidebar-footer-fg: #8ba7da;
  --sidebar-footer-hg: #40a3ff;

  --scrollbar: var(--sidebar-fg);
  --scrollbar-small: #a1adb8;
  --scrollbar-small-hover: #a1adb8;

  --icons: #43484d;
  --icons-hover: #b3c0cc;

  --links: #2b79a2;

  --inline-code-color: #c5c8c6;

  --theme-popup-bg: #141617;
  --theme-popup-border: #43484d;
  --theme-hover: #1f2124;

  --quote-bg: hsl(234, 21%, 18%);
  --quote-border: hsl(234, 21%, 23%);

  --table-border-color: hsl(200, 7%, 13%);
  --table-header-bg: hsl(200, 7%, 28%);
  --table-alternate-bg: hsl(200, 7%, 11%);

  --searchbar-bg: #b7b7b7;
  --searchbar-fg: #000;
  --searchresults-header-fg: #666;
  --searchresults-border-color: #98a3ad;
  --searchresults-hover-bg: #222938;
  --searchresults-li-bg: #2b2b2f;
  --search-mark-bg: #355c7d;

  --page-toc-fg: #6f767d;
  --page-toc-selected: #81a2c3;
}

.light {
  --bg: hsl(0, 0%, 100%);
  --fg: #333333;
  --divider: #e6ecf1;

  --header-bg: #ffffff;
  --header-fg: #242a31;

  --sidebar-bg: #fafafa;
  --sidebar-fg: #364149;
  --sidebar-non-existant: #aaaaaa;
  --sidebar-active: #008cff;
  --sidebar-spacer: #f4f4f4;
  --sidebar-footer-bg: #e6ecf1;
  --sidebar-footer-fg: #9daab6;
  --sidebar-footer-hg: #3884ff;

  --scrollbar: #cccccc;
  --scrollbar-small: #d6d6d6;
  --scrollbar-small-hover: #d6d6d6;

  --icons: #cccccc;
  --icons-hover: #333333;

  --links: #4183c4;

  --inline-code-color: #6e6b5e;

  --theme-popup-bg: #fafafa;
  --theme-popup-border: #cccccc;
  --theme-hover: #e6e6e6;

  --quote-bg: hsl(197, 37%, 96%);
  --quote-border: hsl(197, 37%, 91%);

  --table-border-color: hsl(0, 0%, 95%);
  --table-header-bg: hsl(0, 0%, 80%);
  --table-alternate-bg: hsl(0, 0%, 97%);

  --searchbar-bg: #fafafa;
  --searchbar-fg: #000;
  --searchresults-header-fg: #666;
  --searchresults-border-color: #888;
  --searchresults-hover-bg: #f5f7f9;
  --searchresults-li-bg: #e4f2fe;
  --search-mark-bg: #a2cff5;

  --page-toc-fg: #74818d;
  --page-toc-selected: #355992;
}

.navy {
  --bg: hsl(226, 23%, 11%);
  --fg: #bcbdd0;
  --divider: #4e545a;

  --header-bg: #1d1f21;
  --header-fg: #bcbdd0;

  --sidebar-bg: #282d3f;
  --sidebar-fg: #c8c9db;
  --sidebar-non-existant: #505274;
  --sidebar-active: #2b79a2;
  --sidebar-spacer: #2d334f;
  --sidebar-footer-bg: #3a4556;
  --sidebar-footer-fg: #8f9aab;
  --sidebar-footer-hg: #4bb1ff;

  --scrollbar: var(--sidebar-fg);
  --scrollbar-small: #3473ad;
  --scrollbar-small-hover: #587896;

  --icons: #737480;
  --icons-hover: #b7b9cc;

  --links: #2b79a2;

  --inline-code-color: #c5c8c6;

  --theme-popup-bg: #161923;
  --theme-popup-border: #737480;
  --theme-hover: #282e40;

  --quote-bg: hsl(226, 15%, 17%);
  --quote-border: hsl(226, 15%, 22%);

  --table-border-color: hsl(226, 23%, 16%);
  --table-header-bg: hsl(226, 23%, 31%);
  --table-alternate-bg: hsl(226, 23%, 14%);

  --searchbar-bg: #aeaec6;
  --searchbar-fg: #000;
  --searchresults-header-fg: #5f5f71;
  --searchresults-border-color: #5c5c68;
  --searchresults-hover-bg: #263248;
  --searchresults-li-bg: #242430;
  --search-mark-bg: #a2cff5;

  --page-toc-fg: #828394;
  --page-toc-selected: #96b7ec;
}

.rust {
  --bg: hsl(60, 9%, 87%);
  --fg: #262625;
  --divider: #b38f6b;

  --header-bg: #3b2e2a;
  --header-fg: #fff;

  --sidebar-bg: #3b2e2a;
  --sidebar-fg: #c8c9db;
  --sidebar-non-existant: #505254;
  --sidebar-active: #e69f67;
  --sidebar-spacer: #45373a;
  --sidebar-footer-bg: #f00;
  --sidebar-footer-fg: #f00;
  --sidebar-footer-hg: #f00;

  --scrollbar: var(--sidebar-fg);
  --scrollbar-small: #f00;
  --scrollbar-small-hover: #f00;

  --icons: #737480;
  --icons-hover: #262625;

  --links: #2b79a2;

  --inline-code-color: #6e6b5e;

  --theme-popup-bg: #e1e1db;
  --theme-popup-border: #b38f6b;
  --theme-hover: #99908a;

  --quote-bg: hsl(60, 5%, 75%);
  --quote-border: hsl(60, 5%, 70%);

  --table-border-color: hsl(60, 9%, 82%);
  --table-header-bg: #b3a497;
  --table-alternate-bg: hsl(60, 9%, 84%);

  --searchbar-bg: #fafafa;
  --searchbar-fg: #000;
  --searchresults-header-fg: #666;
  --searchresults-border-color: #888;
  --searchresults-hover-bg: #f9e7d9;
  --searchresults-li-bg: #dec2a2;
  --search-mark-bg: #e69f67;

  --page-toc-fg: #796c58;
  --page-toc-selected: #b97813;
}

@media (prefers-color-scheme: dark) {
  .light.no-js {
    --bg: hsl(200, 7%, 8%);
    --fg: #98a3ad;
    --divider: #f00;

    --header-bg: #f00;
    --header-fg: #fff;

    --sidebar-bg: #292c2f;
    --sidebar-fg: #a1adb8;
    --sidebar-non-existant: #505254;
    --sidebar-active: #3473ad;
    --sidebar-spacer: #393939;
    --sidebar-footer-bg: #f00;
    --sidebar-footer-fg: #f00;
    --sidebar-footer-hg: #f00;

    --scrollbar: var(--sidebar-fg);
    --scrollbar-small: #f00;
    --scrollbar-small-hover: #f00;

    --icons: #43484d;
    --icons-hover: #b3c0cc;

    --links: #2b79a2;

    --inline-code-color: #c5c8c6;

    --theme-popup-bg: #141617;
    --theme-popup-border: #43484d;
    --theme-hover: #1f2124;

    --quote-bg: hsl(234, 21%, 18%);
    --quote-border: hsl(234, 21%, 23%);

    --table-border-color: hsl(200, 7%, 13%);
    --table-header-bg: hsl(200, 7%, 28%);
    --table-alternate-bg: hsl(200, 7%, 11%);

    --searchbar-bg: #b7b7b7;
    --searchbar-fg: #000;
    --searchresults-header-fg: #666;
    --searchresults-border-color: #98a3ad;
    --searchresults-hover-bg: #f00;
    --searchresults-li-bg: #2b2b2f;
    --search-mark-bg: #355c7d;

    --page-toc-fg: #f00;
    --page-toc-selected: #f00;
  }
}
